# Ignore entire folders and their contents
Include/
Lib/
Scripts/
__pycache__/

# Ignore a specific file in the root directory
pyvenv.cfg

# Ignore SQLite DB
*.db

# Virtual environments
.venv/
venv/
venv/